
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Important:
"       This requires that you install https://github.com/amix/vimrc !
"
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

map <leader>b :Buffers<cr>
map <leader>fs :GFiles<cr>
map <leader>cp :CtrlP<cr>
nnoremap <Leader>cb :CtrlPBuffer<CR>


""""""""""""""""""""""""""""""
" => Minimap
"
""""""""""""""""""""""""""""""
" au BufEnter * :Minimap
" au BufEnter * :set number
" au BufEnter * :set mouse=a


""""""""""""""""""""""""""""""
" => Load pathogen paths
""""""""""""""""""""""""""""""
" let s:vim_runtime = expand('<sfile>:p:h')."/.."
" call pathogen#infect(s:vim_runtime.'/sources_forked/{}')
" call pathogen#infect(s:vim_runtime.'/sources_non_forked/{}')
" call pathogen#infect(s:vim_runtime.'/my_plugins/{}')
" call pathogen#helptags()


""""""""""""""""""""""""""""""
" => bufExplorer plugin
""""""""""""""""""""""""""""""
let g:bufExplorerDefaultHelp=0
let g:bufExplorerShowRelativePath=1
let g:bufExplorerFindActive=1
let g:bufExplorerSortBy='name'
map <leader>o :BufExplorer<cr>


""""""""""""""""""""""""""""""
" => MRU plugin
""""""""""""""""""""""""""""""
let MRU_Max_Entries = 400
map <leader>f :MRU<CR>


""""""""""""""""""""""""""""""
" => YankStack
""""""""""""""""""""""""""""""
let g:yankstack_yank_keys = ['y', 'd']

nmap <C-p> <Plug>yankstack_substitute_older_paste
nmap <C-n> <Plug>yankstack_substitute_newer_paste


""""""""""""""""""""""""""""""
" => ZenCoding
""""""""""""""""""""""""""""""
" Enable all functions in all modes
let g:user_zen_mode='a'


""""""""""""""""""""""""""""""
" => Vim grep
""""""""""""""""""""""""""""""
let Grep_Skip_Dirs = 'RCS CVS SCCS .svn generated'
set grepprg=/bin/grep\ -nH


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Nerd Tree
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let NERDTreeShowLineNumbers=0
let NERDTreeShowHidden=1
let NERDTreeIgnore = ['\.pyc$', '__pycache__', 'node_modules', '\.git$', '\.vscode$']
let g:NERDTreeWinSize=35
map <leader>nn :NERDTreeToggle<cr>
map <leader>nb :NERDTreeFromBookmark<Space>
map <leader>nf :NERDTreeFind<cr>
map <leader>r :NERDTreeFind<cr>

"nnoremap <silent> <C-n> :NERDTreeToggle<CR>
"set autochdir
"let NERDTreeChDirMode=2
"nnoremap <leader>n :NERDTree .<CR>

"" Refresh NERDTree pane
"nmap <leader>nr :NERDTreeFocus<cr> \| R \| <c-w><c-p>
""autocmd CursorHold,CursorHoldI * call NERDTreeFocus() | call g:NERDTree.ForCurrentTab().getRoot().refresh() | call g:NERDTree.ForCurrentTab().render() | wincmd w

"autocmd StdinReadPre * let s:std_in=1
"autocmd VimEnter * if argc() == 0 && !exists("s:std_in") | NERDTree | endif

"function! DoOpen()
"    let node = g:NERDTreeFileNode.GetSelected()
"    if node.path.isDirectory && (node.isOpen==0) 
"        execute "norm \<CR>ztj"
"    endif   
"endfunction
"" other
""To use for consecutive searches. Saves the need to enter search seperately
""each time. TODO: only on file xzt  
":autocmd FileType nerdtree cmap <buffer> <M-Right> <CR>:call DoOpen()<CR>/
":autocmd FileType nerdtree cmap <buffer> <M-left> <CR>x
":autocmd FileType nerdtree nmap <buffer> <M-Right> :call DoOpen()<CR>/
":autocmd FileType nerdtree nmap <buffer> <M-left> x


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => vim-multiple-cursors
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" let g:multi_cursor_use_default_mapping=0

" " Default mapping
" let g:multi_cursor_start_word_key      = '<C-s>'
" let g:multi_cursor_select_all_word_key = '<A-s>'
" let g:multi_cursor_start_key           = 'g<C-s>'
" let g:multi_cursor_select_all_key      = 'g<A-s>'
" let g:multi_cursor_next_key            = '<C-s>'
" let g:multi_cursor_prev_key            = '<C-p>'
" let g:multi_cursor_skip_key            = '<C-x>'
" let g:multi_cursor_quit_key            = '<Esc>'


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => surround.vim config
" Annotate strings with gettext
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vmap Si S(i_<esc>f)
au FileType mako vmap Si S"i${ _(<esc>2f"a) }<esc>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => lightline
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:lightline = {
      \ 'colorscheme': 'wombat',
      \ 'active': {
      \   'left': [ ['mode', 'paste'],
      \             ['fugitive', 'readonly', 'filename', 'modified'] ],
      \   'right': [ [ 'lineinfo' ], ['percent'] ]
      \ },
      \ 'component': {
      \   'readonly': '%{&filetype=="help"?"":&readonly?"🔒":""}',
      \   'modified': '%{&filetype=="help"?"":&modified?"+":&modifiable?"":"-"}',
      \   'fugitive': '%{exists("*FugitiveHead")?FugitiveHead():""}'
      \ },
      \ 'component_visible_condition': {
      \   'readonly': '(&filetype!="help"&& &readonly)',
      \   'modified': '(&filetype!="help"&&(&modified||!&modifiable))',
      \   'fugitive': '(exists("*FugitiveHead") && ""!=FugitiveHead())'
      \ },
      \ 'separator': { 'left': ' ', 'right': ' ' },
      \ 'subseparator': { 'left': ' ', 'right': ' ' }
      \ }

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Vimroom
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:goyo_width=100
let g:goyo_margin_top = 2
let g:goyo_margin_bottom = 2
nnoremap <silent> <leader>z :Goyo<cr>



"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" => Git gutter (Git diff)
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:gitgutter_enabled=0
nnoremap <silent> <leader>d :GitGutterToggle<cr>
"
"
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =Prettier
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"Plug 'prettier/vim-prettier', { 'do': 'npm install', 'for': ['javascript', 'typescript', 'css', 'less', 'scss', 'json', 'graphql', 'markdown', 'vue', 'yaml', 'html'] }
autocmd BufWritePre *.js,*.jsx,*.mjs,*.ts,*.tsx,*.css,*.less,*.scss,*.json,*.graphql,*.md,*.vue,*.yaml,*.html PrettierAsync

let g:prettier#exec_cmd_path = '~/.nvm/versions/node/v8.17.0/bin/prettier'
" number of spaces per indentation level: a number or 'auto' (use
" softtabstop)
" default: 'auto'
let g:prettier#config#tab_width = 2
" use tabs instead of spaces: true, false, or auto (use the expandtab setting).
" default: 'auto'
let g:prettier#config#use_tabs = 'false'
let g:prettier#autoformat = 0
let g:prettier#quickfix_enabled = 0
let g:prettier#quickfix_auto_focus = 0

let g:ale_fixers = {
\   'javascript': ['prettier'],
\   'css': ['prettier'],
\   'html': ['prettier']
\}

let g:ale_fix_on_save = 1
let g:prettier#config#single_quote = 'true'
let g:ale_javascript_prettier_options = '--single-quote --trailing-comma none'

" => Ale (syntax checker and linter)
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nmap <silent> <leader>a <Plug>(ale_next_wrap)

" Disabling highlighting
let g:ale_set_highlights = 0

" Only run linting when saving the file
let g:ale_lint_on_text_changed = 'never'
let g:ale_lint_on_enter = 0


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =fzf
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" fzf
"
" let g:fzf_layout = { 'window' : { 'width': 0.9, 'height': 0.6, 'highlight': 'Normal' } }
"
" Empty value to disable preview window altogether
let g:fzf_preview_window = ''

" Always enable preview window on the right with 60% width
let g:fzf_preview_window = 'right:60%'

" ag vim
let g:ag_working_path_mode="r"
command! -bang -nargs=* Ag
\ call fzf#vim#ag(<q-args>,
\                 <bang>0 ? fzf#vim#with_preview('up:60%')
\                         : fzf#vim#with_preview('right:50%:hidden', '?'),
\                 <bang>0)


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =Theme
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

function! UseThemeTerm()
  colorscheme jellybeans
  let g:jellybeans_use_lowcolor_black = 0

  let g:jellybeans_overrides = {
  \  'Todo': { 'guifg': '303030', 'guibg': 'f0f000',
  \              'ctermfg': 'Black', 'ctermbg': 'Yellow',
  \              'attr': 'bold' },
  \  'Comment': { 'guifg': '999999' },
  \  'background': { 'ctermbg': 'none', '256ctermbg': 'none' },
  \  'MatchParen': { 'guifg': 'ffffff', 'guibg': '556779' },
  \  'SpecialKey': { '256ctermbg': 'none', '256ctermfg': 'Darkgray' },
  \  'Whitespace': { '256ctermbg': 'none', '256ctermfg': 'Darkgray' },
  \  'SpellBad'  : { '256cterm': 'underline', '256ctermbg': 'None' },
  \  'SpellCap'  : { '256cterm': 'undercurl', '256ctermbg': 'None' },
  \  'error'     : { '256ctermbg': 236 },
  \  'todo'      : { '256ctermbg': 236 },
  \}

  if has('termguicolors') && &termguicolors
     let g:jellybeans_overrides['background']['guibg'] = 'none'
  endif
endfunction

function! UseThemeGUI()
  colorscheme PaperColor
  " colorscheme gotham256
  " set termguicolors     " enable true colors support
  " let ayucolor="mirage" " for mirage version of theme
  " colorscheme ayu
endfunction

if has('gui_running')
  call UseThemeGUI()
else
  call UseThemeTerm()
  set background=dark
endif


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =Silver search
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" The Silver Searcher
if executable('ag')
  " Use ag over grep
  set grepprg=ag\ --nogroup\ --nocolor

  " Use ag in CtrlP for listing files. Lightning fast and respects .gitignore
  let g:ctrlp_user_command = 'ag %s -l --nocolor -g ""'

  " ag is fast enough that CtrlP doesn't need to cache
  let g:ctrlp_use_caching = 0
endif

" bind K to grep word under cursor
nnoremap K :grep! "\b<C-R><C-W>\b"<CR>:cw<CR>:FloatermNe


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =COC
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" GoTo code navigation.
nmap <silent> gd <Plug>(coc-definition)
nmap <silent> gy <Plug>(coc-type-definition)
nmap <silent> gi <Plug>(coc-implementation)
nmap <silent> gr <Plug>(coc-references)

nmap <silent> gs :call CocAction('jumpDefinition', 'split')<CR>
nmap <silent> gd :call CocAction('jumpDefinition', 'vsplit')<CR>
nmap <silent> gt :call CocAction('jumpDefinition', 'tabe')<CR>

let g:coc_global_extensions = [
  \'coc-eslint',
  \'coc-highlight',
  \'coc-explorer',
  \'coc-json', 
  \'coc-lists', 
  \'coc-tsserver'
  \]

"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =projectroot
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
nnoremap <leader>dp :ProjectRootCD<cr>

" function! <SID>AutoProjectRootCD()
"   try
"     if &ft != 'help'
"       ProjectRootCD
"     endif
"   catch
"     " Silently ignore invalid buffers
"   endtry
" endfunction

" autocmd BufEnter * call <SID>AutoProjectRootCD()


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =CtrlSF
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:ctrlsf_auto_close = {
    \ "normal" : 0,
    \ "compact": 1
    \}

let g:ctrlsf_winsize = '30%'
let g:ctrlsf_auto_focus = {
    \ "at": "start"
    \ }


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" =anyfold
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
filetype plugin indent on " required
syntax on                 " required

autocmd Filetype * AnyFoldActivate               " activate for all filetypes
" or
" autocmd Filetype <your-filetype> AnyFoldActivate " activate for a specific filetype

" set foldlevel=0  " close all folds
" or
set foldlevel=99 " Open all folds

